DB_CONNECTION_LIMIT=
DB_CONNECT_TIMEOUT=
DB_DATABASE=
DB_HOST=
DB_NAME=
DB_PASS=
DB_PASSWORD=
DB_PORT=
DB_USER=
DISABLE_HMR=
FIREBASE_API_KEY=
GEMINI_API_KEY=
MYSQL_CONNECTION_LIMIT=
MYSQL_CONNECT_TIMEOUT=
MYSQL_DATABASE=
MYSQL_HOST=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_USER=